@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #9300FF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #70C9C5;
}

.navbar {
  overflow:hidden;
  background-color: #5DFF00;
}

.navbar a {
  float: left; 
  display: block;
  color: #0C00FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.navbar a:hover {
  background-color: 0013FF;
  color: #00D8FF;
  
}

.navbar a.active {
  background color: #00FFF3;
  color: #7C00FF;
  
}
